/* CSS Document */
body{margin:0; padding:0; font-size:12px; font-family: "宋体";}
h1,ul,li,p,dl,dt{margin: 0; padding: 0; list-style: none; border:0;}
/* 主体部分 */
.body{width:960px; overflow:hidden; margin:0 auto;}
.theme{ width:960px;height:100px;}
.theme img{ display:block;float:left;}
.theme label{display:block;float:left;font-size:22px;font-weight:bold; color:#333333; margin:58px 0 0 18px;}

.left{width:710px; overflow:hidden;float:left;}
.shopName{float:left;background:#F3F3F3;width:100%; height:40px;color:#999999; font-size:12px; line-height:40px;}
.shopName p{ display:block;float:left; margin-left:15px;}
.shopName p label{ font-size:14px; color:#CC0000;}
.shopName a:link,.shopName a:visited{ display:block; float:right;text-decoration:none;color:#999999; margin-right:15px;}
.shopName a:hover{ text-decoration:underline;}
.commentForm{ float:left;width:100%; margin-top:20px;}
.commentForm ul li{ display:block; float:left;}
.li_left{ width:100px; height:50px; text-align:right; line-height:50px; font-weight:500}
.li_right{ width:600px; padding-left:10px; min-height:50px;}
.li_right input{ outline:none;}
.li_right textarea{border:1px #CCCCCC solid; outline:none; width:580px; box-shadow:inset #eee 2px 2px 7px; color:#666; border-radius:4px;padding:5px;}
.totalComment{float:left;width:139px; height:35px; border:1px solid #F0C36D; margin-top:2px; background:#FFFCEB; padding:9px 0 0 9px;}
.totalComment ul{ display:block; width:130px; height:25px;}
.totalComment ul li{ display:block;width:26px; height:25px; cursor:pointer;}
.rank0{background:url(../images/rank/0.png) no-repeat;}
.rank1{background:url(../images/rank/1.png) no-repeat;}
.rank2{background:url(../images/rank/2.png) no-repeat;}
.rank3{background:url(../images/rank/3.png) no-repeat;}
.rank4{background:url(../images/rank/4.png) no-repeat;}
.rank5{background:url(../images/rank/5.png) no-repeat;}
.commentLi{width:150px;height:20px;float:left;display:block; border:1px solid #EAEAEA; margin-top:14px; border-right:none;}
.commentLi li{width:29px;height:20px;line-height:20px;text-align:center;border-right:1px solid #EAEAEA;cursor:pointer;}
.commentTip,.qualityTip,.enviromentTip,.serviceTip{float:left;height:50px;line-height:50px;margin-left:10px;color:#666666;}
.redTip{ color:#CC0000;}
.hoverClass{ background:#FF9966; color:#FFF;}
input{margin-top:15px;}
#textTip{display:none;width:200px; height:30px; line-height:30px; color:#FF5243; padding-left:15px; background:#FFF2F2; margin-top:10px;}
.fontWeight{font-weight:bold; color:#EE0000;}
.right{width:200px; float:right; border:1px #CCCCCC solid; padding:20px;}
.shopInfo{ margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #CCCCCC; position:relative;}
.shopInfo a:link,.shopInfo a:visited{font-size:14px;line-height:20px;color:#6666CC;font-weight:bold;margin-bottom:5px; text-decoration:none;}
.shopInfo a:hover{ color:#FFF; background:#6666CC;}
.shopInfo ul{ display:block;}
.shopInfo ul li{display:block; height:30px; line-height:30px; color:#555555;}
.red_font{color:#F00; font-weight:bold;}
#rank_tip{ display:none;width: 160px;	position: absolute;	top: 23px;right: -70px;	border: 1px #E5E5E5 solid;	padding-left: 5px;}
#rank_tip ul li{ display:block;float:left; width:150px;height:25px;}
#rank_tip img{ display:block;float:left;margin-top:6px;}
#rank_tip label{display:block;float:left; margin-left:15px; height:25px; line-height:25px;}
.commentInfo a:link,.commentInfo a:visited{font-size:14px; font-weight:bold; text-decoration:none; color:#555555;}
.commentInfo a:hover{ color:#FFF; background:#6666CC;}
.userComment{height:30px; line-height:30px;vertical-align:center;}
.userComment a:link,.userComment a:visited{font-size:12px; font-weight:normal; color:#00F;}
.userComment a:hover{color:#FFF; background:#6666CC;}
.userComment p{ display:block; float:left;line-height:25px;}
/****************/
.div_search{width:960px; height:238px; margin:0 auto;}
.div_search img{ display:block;float:left;}
.div_center{ float:left;width:509px; height:238px;}
.center_input{float:left; width:509px; height:146px;}
.center_input p{ display:block; margin:58px auto 25px auto; text-align:center;color:#333; font-size:20px; font-family:Microsoft YaHei;}
.center_input div{width:371px;height:31px; border:1px solid #CCC; border-radius:3px; box-shadow:inset 2px 2px 3px #eee;margin:0 auto;padding-left:10px; padding-top:3px;}
.center_input div input{display:block;float:left; width:343px;height:29px; border:0; margin:0 auto; outline:none; font-size:14px;}
.center_input div a{ display:block;float:left;width:25px;height:24px; padding-top:5px;}
